
/maven/maven-dotnet-plugin/.classpath
/maven/maven-dotnet-plugin/.project
/maven/maven-dotnet-runtime/.classpath
/maven/maven-dotnet-runtime/.project
/maven/dotnet-commons/.classpath
/maven/dotnet-commons/.project
/maven/dotnet-commons/.classpath
/maven/dotnet-commons/.project
/maven/dotnet-commons/.settings
/maven/dotnet-commons/target
/maven/maven-dotnet-plugin/target
/maven/maven-dotnet-plugin/.settings
/maven/maven-dotnet-runtime/.settings
/maven/maven-dotnet-runtime/target
/sonar/sonar-plugin-coverage/target
/sonar/sonar-plugin-coverage/.settings
/sonar/sonar-plugin-dotnet-core/.settings
/sonar/sonar-plugin-dotnet-core/target
/sonar/sonar-plugin-dotnet-cpd/target
/sonar/sonar-plugin-dotnet-cpd/.settings
/sonar/sonar-plugin-fxcop/.settings
/sonar/sonar-plugin-fxcop/target
/sonar/sonar-plugin-gallio/.settings
/sonar/sonar-plugin-gallio/target
/sonar/sonar-plugin-gendarme/target
/sonar/sonar-plugin-gendarme/.settings
/sonar/sonar-plugin-sourcemonitor/.settings
/sonar/sonar-plugin-sourcemonitor/target
/sonar/sonar-plugin-stylecop/.settings
/sonar/sonar-plugin-stylecop/target
/sonar/sonar-plugin-coverage/.classpath
/sonar/sonar-plugin-coverage/.project
/sonar/sonar-plugin-dotnet-core/.classpath
/sonar/sonar-plugin-dotnet-core/.project
/sonar/sonar-plugin-dotnet-cpd/.classpath
/sonar/sonar-plugin-dotnet-cpd/.project
/sonar/sonar-plugin-fxcop/.classpath
/sonar/sonar-plugin-fxcop/.project
/sonar/sonar-plugin-gallio/.classpath
/sonar/sonar-plugin-gallio/.project
/sonar/sonar-plugin-gendarme/.classpath
/sonar/sonar-plugin-gendarme/.project
/sonar/sonar-plugin-sourcemonitor/.classpath
/sonar/sonar-plugin-sourcemonitor/.project
/sonar/sonar-plugin-stylecop/.classpath
/sonar/sonar-plugin-stylecop/.project